<br>
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center">Blog Posts</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">{{title}}</h1>
                    <p>Posted by {{user.username}} on {{format_date date_created}}</p>
                    <hr>
                    <p class="card-text">{{content}}</p>
                </div>
            </div>
        </div>
    </div>
    {{#each comments as |comment| }}
    <div class="row">
        <div class="col">
            <p>Posted on by</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>cvgfhb</p>
        </div>
    </div>
    {{/each}}
</div>